*{
  box-sizing: border-box;
  
}
a {
  color: #848d96;
  text-decoration: none;
  text-transform: uppercase;
   /*display: inline-block;*/
}

body {
  margin: 0;
  padding: 0;
  display: block;
  overflow: scroll;
  max-height: 100vh;
  background-color: #0b1c2f;
  font-family: "apercu",sans-serif;
  font-weight: 600;
  line-height: 20px;
  color: #333;
}
.leftcontent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0;
  padding-left: 0;
}

.columns, .columns-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-height: 100vh;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.name {
  margin-bottom: 40px;
  color: #47bec7;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.bold-text {
  font-weight: 600;
}

.tagline {
  margin-bottom: 20px;
  color: #ddd;
  font-size: 2rem;
  line-height: 99%;
  text-transform: uppercase;
}

.bio {
  margin-bottom: 40px;
  font-family: "apercu",sans-serif;
  color: #848d96;
  font-size: 20px;
  line-height: 140%;
}

.text-block-2 {
  margin-bottom: 25px;
  color: #485462;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.text-block-3 {
  margin-bottom: 25px;
  color: #485462;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.list {
  font-family: "apercu",sans-serif;
  color: #848d96;
  font-size: 16px;
  line-height: 160%;
}

.credit {
  color: #485462;
  font-size: 13px;
  font-family: "apercu",sans-serif;
}

.rightcontent {
  overflow: auto;
  padding: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

html.w-mod-touch *{
  background-attachment: scroll !important;
}

.content {
  overflow: auto;
}

img{

  filter: blur(8px);
  -webkit-filter: blur(0.9px);
}

.links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  margin-bottom: 40px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.bio-links {
  border-bottom: 1px solid #848d96;
  text-decoration: none;
}
.credit-links {
  color: #485462;
}



@media screen and (max-width: 991px) {
  .leftcontent {
    display: block;
    -o-object-position: 50% 0%;
    object-position: 50% 0%;
  }

  .columns {
    display: block;
  }

  .rightcontent {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .column {
    margin-bottom: 20px;
  }

  .column-2 {
    margin-bottom: 20px;
  }


@media screen and (max-width: 767px) {
  .name {
    margin-bottom: 20px;
  }

  .rightcontent {
    padding: 60px;
  }
}

@media screen and (max-width: 479px) {
  .bold-text {
    font-size: 42px;
    line-height: 42px;
  }

  .bio {
    font-size: 16px;
  }

  .credit {
    font-size: 12px;
  }

  .rightcontent {
    padding: 30px;
  }

  
}

